/* MY CSS */
.about_overflow_text {
  height: 400px !important;

  overflow-y: scroll;
}
#zero_top {
  padding-top: 0px !important;
}

.btn-gold {
  background-color: var(--prop-theme);
  color: var(--white);
}

.btn.btn-gold:hover,
.btn.btn-gold :active {
  background-color: transparent;
  border-color: var(--prop-theme);
  color: var(--dark-gray);
}

.text-gold,
.btn-link.text-gold,
a.text-gold:hover {
  color: var(--prop-theme);
}

.case-study-bullets li {
  list-style: disc;
}

.navbar-nav .active {
  color: var(--prop-theme);
}
.navbar .navbar-nav .nav-item:hover .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link {
  opacity: 1 !important;
  color: var(--prop-theme) !important;
}

.text-gradient-base-color {
  background-image: linear-gradient(to right, #deb269 0%, #c59e5d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-icon-style-10 {
  ul {
    li {
      a {
        color: var(--white);
        &:hover {
          color: var(--base-color) !important;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home_image_1 img,
  .home_image_2 img {
    display: none;
  }

  .home_image_3 img {
    content: url("../img/home/home_about_members.gif");
  }
}
.footer_text-white a {
  color: #fff;
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .home-slide-text {
    padding-left: 20px;
    padding-right: 20px;
  }
}
